.container{
    width: 900px;
    height: 100vh;
    margin:2rem auto;
}
.contenedor{
    width:570px;
    height:300px;
    position: relative;
    border:10px solid #C95151;
    border-image-source: url("border.png");
    border-image-slice: 170;
    border-image-width: 50px 100px;
    border-bottom-width: 15px;
    margin:3rem auto;
    /*background-color: beige;*/
    border-radius:35px;
    background-image: url("desert.png");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    
    


    

}
.bloque{    
    height:20px;
    width:95px;
    /*background-color:blue;*/
    background-image: url("StoneBlock.png");
    background-position: center;
    position:absolute;
}
.usuario{
    width:100px;
    height:20px;
    position:absolute;
    
    background-image: url("platform.png");
    background-size:210px;
    background-position: center;
}
.bola{
    height:20px;
    width:20px;
    position:absolute;
    border-radius: 20px;
    background-image: url("bola-100.png");
    background-size:39.8px;
    background-position: center;
    padding:2px;
    /*background-color:pink;*/
    
}
.body{
    background-color: #5C5C5C;
    background-image: url("egipt.jpg");
    background-position: center;
    background-size: cover;
}
